[paths]
source =
    omni_wagtail_library/

[run]
branch = true

[report]
omit =
    env/*
    */migrations/*
    *site-packages*
    *tests*
    *.tox*
show_missing = True
exclude_lines =
    raise NotImplementedError
